<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Edit product</h1>
	<form action="#" th:action="@{/save}" th:object=${product} method="post">
	<p><input type="hidden" th:field="${product.productId}" /></p>
	<p>Name: <input type="text" th:field="${product.name}" class="form-control"/></p>
	<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
	<p>Cultivar: <input type="text" th:field="${product.cultivar}" class="form-control"/></p>
	<p th:if="${#fields.hasErrors('cultivar')}" th:errors="*{cultivar}">Error</p>
	<p>Description: <input type="text" th:field="${product.description}" class="form-control"/></p>
	<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</p>
	<p>Producer: <input type="text" th:field="${product.producer}" class="form-control"/></p>
	<p th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}">Error</p>
	<p>Country: <input type="text" th:field="${product.country}" class="form-control"/></p>
	<p th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Error</p>
	<p>Price(€): <input type="text" th:field="${product.price}" class="form-control"/></p>
 	<label for="category">Category:</label>
		<select id="category" th:field="*{category}" class="form-control"> 
       		<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
    	</select>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
    
</body>
</html>